<section id="content-image" class="wrapper-content-image">
  <div class="content-image-area">
    <div class="heading padding-large">
      <h2>見出し2</h2>
      <p>説明</p>
    </div>
    <div class="content-image-contents">
      <div class="content-image-box heading">
        <h3>見出し3</h3>
        <img src="./img/sample.png" alt="" />
        <p>説明</p>
        <p class="text">詳細</p>
      </div>
      <div class="content-image-box heading">
        <h3>見出し3</h3>
        <img src="./img/sample.png" alt="" />
        <ol>
          <li>詳細説明1</li>
          <li>詳細説明2</li>
        </ol>
      </div>
      <div class="content-image-box heading">
        <h3>見出し3</h3>
        <img src="./img/sample.png" alt="" />
        <ol start="3">
          <li>詳細説明3</li>
        </ol>
      </div>
      <div class="content-image-box heading">
        <h3>見出し3</h3>
        <img src="./img/sample.png" alt="" />
        <ol start="4">
          <li>詳細説明4</li>
          <li>詳細説明5</li>
          <li>詳細説明6</li>
        </ol>
      </div>
      <div class="content-image-box heading">
        <h3>見出し3</h3>
        <img src="./img/sample.png" alt="" />
        <ol start="7">
          <li>詳細説明7</li>
        </ol>
      </div>
    </div>
  </div>
</section>
