<section id="feature" class="wrapper-flex-contents">
  <div class="heading-right vertical">
    <h2>見出し2（縦書き）</h2>
  </div>
  <div class="flex-contents-area">
    <ol class="flex-contents-area-flex">
      <li>
        <div class="flex-contents-box">
          <span>1</span>
          <div class="heading left">
            <h3>見出し3</h3>
            <p>コンテンツエリア</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex-contents-box">
          <span>2</span>
          <div class="heading left">
            <h3>見出し3</h3>
            <p>コンテンツエリア</p>
          </div>
        </div>
      </li>
      <li class="pc-width-nowrap">
        <div class="flex-contents-box">
          <span>3</span>
          <div class="heading left">
            <h3>見出し3</h3>
            <p>コンテンツエリア</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex-contents-box">
          <span>4</span>
          <div class="heading left">
            <h3>見出し3</h3>
            <p>コンテンツエリア</p>
          </div>
        </div>
      </li>
      <li>
        <div class="flex-contents-box">
          <span>5</span>
          <div class="heading left">
            <h3>見出し3</h3>
            <p>コンテンツエリア</p>
          </div>
        </div>
      </li>
    </ol>
  </div>
</section>
