<section class="wrapper-gallery">
  <div id="gallery" class="gallery-area">
    <div class="heading padding-large">
      <h2>GALLERY</h2>
    </div>
    <div class="gallery-flex">
      <div class="gallery-box-outer">
        <div class="gallery-box-inner">
          <a href="#" target="_blank">
            <img src="./img/sample.png" alt="" />
          </a>
        </div>
        <div class="gallery-box-double">
          <div class="gallery-box-child-left">
            <a href="#" target="_blank">
              <img src="./img/sample.png" alt="" />
            </a>
          </div>
          <div class="gallery-box-child-right">
            <a href="#" target="_blank">
              <img src="./img/sample.png" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="gallery-box-outer">
        <div class="gallery-box-double">
          <div class="gallery-box-child-left">
            <a href="#" target="_blank">
              <img src="./img/sample.png" alt="" />
            </a>
          </div>
          <div class="gallery-box-child-right">
            <a href="#" target="_blank">
              <img src="./img/sample.png" alt="" />
            </a>
          </div>
        </div>
        <div class="gallery-box-inner">
          <a href="#" target="_blank">
            <img src="./img/sample.png" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="gallery-flex">
      <div class="gallery-box-outer">
        <div class="gallery-box-inner">
          <a href="#" target="_blank">
            <img src="./img/sample.png" alt="" />
          </a>
        </div>
        <div class="gallery-box-double">
          <div class="gallery-box-child-left">
            <a href="#" target="_blank">
              <img src="./img/sample.png" alt="" />
            </a>
          </div>
          <div class="gallery-box-child-right">
            <a href="#" target="_blank">
              <img src="./img/sample.png" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="gallery-box-outer">
        <div class="gallery-box-double">
          <div class="gallery-box-child-left">
            <a href="#" target="_blank">
              <img src="./img/sample.png" alt="" />
            </a>
          </div>
          <div class="gallery-box-child-right">
            <a href="#" target="_blank">
              <img src="./img/sample.png" alt="" />
            </a>
          </div>
        </div>
        <div class="gallery-box-inner">
          <a href="#" target="_blank">
            <img src="./img/sample.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
