<section class="wrapper-item">
  <div class="wrapper-item-face">
    <div class="wrapper-item-rotate">
      <div id="item" class="item-area-outer">
        <div class="item-area">
          <div class="heading padding-large">
            <h2>ITEM</h2>
            <p>説明</p>
          </div>
          <div class="item-flex">
            <ul class="item-flex-list">
              <li>
                <div class="item-box">
                  <img src="./img/sample.png" alt="" />
                  <p class="product-name">商品名1</p>
                  <p>固有名</p>
                </div>
              </li>
              <li>
                <div class="item-box">
                  <img src="./img/sample.png" alt="" />
                  <p class="product-name">商品名2</p>
                  <p>固有名</p>
                </div>
              </li>
              <li>
                <div class="item-box">
                  <img src="./img/sample.png" alt="" />
                  <p class="product-name">商品名3</p>
                  <p>固有名</p>
                </div>
              </li>
              <li>
                <div class="item-box">
                  <img src="./img/sample.png" alt="" />
                  <p class="product-name">商品名4</p>
                  <p>固有名</p>
                </div>
              </li>
              <li>
                <div class="item-box">
                  <img src="./img/sample.png" alt="" />
                  <p class="product-name">商品名5</p>
                  <p>固有名</p>
                </div>
              </li>
              <li>
                <div class="item-box">
                  <img src="./img/sample.png" alt="" />
                  <p class="product-name">商品名6</p>
                  <p>固有名</p>
                </div>
              </li>
            </ul>
            <ul class="btn-list-blck">
              <li><a href="#" target="_blank" class="btn btn-amzon">BUTTON1</a></li>
              <li><a href="#" target="_blank" class="btn btn-amzon">BUTTON2</a></li>
              <li><a href="#" target="_blank" class="btn btn-amzon">BUTTON3</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
