<section id="news" class="wrapper-news">
  <div class="news-area">
    <div class="heading padding-large">
      <h2>見出し2</h2>
    </div>
    <div class="news-contents">
      <dl class="news-contents-lay">
        <dt>2020.XX.XX</dt>
        <dd>説明文1</dd>
      </dl>
      <dl class="news-contents-lay">
        <dt>2020.XX.XX</dt>
        <dd>説明文2</dd>
      </dl>
      <dl class="news-contents-lay">
        <dt>2020.XX.XX</dt>
        <dd>説明文3</dd>
      </dl>
    </div>
  </div>
</section>
