<article class="wrapper-slider">
  <div class="slider-area">
    <div id="slider-left" class="slide-left" dir="rtl">
      <img src="./img/sample.png" alt="" />
      <img src="./img/sample.png" alt="" />
      <img src="./img/sample.png" alt="" />
      <img src="./img/sample.png" alt="" />
      <img src="./img/sample.png" alt="" />
    </div>
    <div id="slider-right" class="slide-right">
      <img src="./img/sample.png" alt="" />
      <img src="./img/sample.png" alt="" />
      <img src="./img/sample.png" alt="" />
      <img src="./img/sample.png" alt="" />
      <img src="./img/sample.png" alt="" />
    </div>
  </div>
</article>
