<footer id="contact" class="footer">
  <div class="center">
    <a href="#" target="_blank"><img src="./img/instagram-logo.png" alt="" /></a>
    <div class="footer-bottom">
      <p class="company-name">会社名</p>
      <p class="company-discription">会社説明</p>
      <small>アンカーテキスト</small>
    </div>
  </div>
</footer>
